.venv
.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
chroma_store/
.coverage
htmlcov/
.tox/
.hypothesis/
.pytype/
poetry.lock
.DS_Store
*.log
deploy/helm/easyfocus/values-local.yaml
